.App {
  /* display: inline-flex; */
  align-items: center;
  justify-content: center; 
  /* background-color: #53565A; */
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
  display: block;
  position: relative
}


form h2{
  color: #888;
  font-size: 28px;
  font-weight: 28px;
  margin-bottom: 30px;
 }

label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s
}

input{
  display: block;
  width: 60%;
  padding: 10px 15px;
  /* background-color: #f8f8f8; */
  border-radius: 8px;
  margin-bottom: 5px;
  /* transition: .4s; */
}


button {
  /* appearance: none;
  background: none; 
  border: none;
  outline: none  */
}



form input[type="submit"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: .4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
  /* width: 10%; */
}

.intro{
  text-align: center;
}
.intro-header{
  color: #888;
  font-size: 28px;
  font-weight: 28px;
  margin-bottom: 30px;
}

.intro-text{

}

.input-divs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}


.item-container{
  display: inline-flex;
  /* border: 1px solid black; */
  float: right;
  width: 45%;
  padding: 5px;
  justify-content: space-between;
  color: #888;
  font-size: 18px;
}

.monthly-budget{
  display: block;
  /* border: 1px solid black; */
  float: left;
  width: 45%;
  padding: 5px;
  color: #888;
  font-size: 18px;
}

.fixed-item-container{

}

.additional-item-container{

}
.fixed-cost-div{
}

.additional-costs-div{
}


.budget-div{
}



.savings{

}

.budget-form{
  
}

.title{
  
}

.fixed-costs-form{

}

.additional-costs-form{

}

.item-div{

}

.item-title{

}

.item-price{

}

.item-importance{
  
}
